{% extends 'base.html' %}
{% block content %}

<nav>
    <a href="{% url 'index' %}">Life Pro Tips</a>
    {% if user.is_authenticated %}
        <a href="{% url 'create_tip' %}">Create Tip</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    | Hello {{ username }} ({{ user.reputation }})
</nav>

{% for tip in tips %}
    <p>
        {{ tip.content }} by {{ tip.author }} ({{ tip.author.reputation }}) on {{ tip.date }} 
        | Upvotes: {{ tip.upvote_count }} | Downvotes: {{ tip.downvote_count }}
        {% if user.is_authenticated %}
            <a href="{% url 'vote' tip.id 'upvote' %}">
                {% if user_votes.tip.id == 'upvote' %}Unupvote{% else %}Upvote{% endif %}
            </a>
            <a href="{% url 'vote' tip.id 'downvote' %}">
                {% if user_votes.tip.id == 'downvote' %}Undownvote{% else %}Downvote{% endif %}
            </a>
            {% if tip.author == user or user.has_perm 'myapp.can_delete_tip' %}
                <a href="{% url 'can_delete_tip' tip.id %}">Delete</a>
            {% endif %}
        {% endif %}
    </p>
{% endfor %}
{% endblock %}