{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
  <h1>{{ object.title }}</h1>
  <p>Author: {{ object.author.username }}</p>
  <p>Created: {{ object.created }}</p>
  <p>Synopsis: {{ object.synopsis }}</p>
  <p>Content: {{ object.content }}</p>
  {% if user.is_authenticated %}
    <form method="post" action="{% url 'articles:add_to_favourite' object.pk %}">
      {% csrf_token %}
      <button type="submit">{% trans "Add to Favourites" %}</button>
    </form>
  {% endif %}
{% endblock %}