{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
  <h1>{{ object.title }}</h1>
  <p>Author: {{ object.author.username }}</p>
  <p>Created: {{ object.created }}</p>
  <p>Synopsis: {{ object.synopsis }}</p>
  <p>Content: {{ object.content }}</p>
  {% include 'articles/add_to_favourite.html' %}
  <form method="post" action="{% url 'articles:logout' %}">
    {% csrf_token %}
    <button type="submit">{% trans "Logout" %}</button>
  </form>
{% endblock %}