{% extends 'base.html' %}
{% load i18n humanize %}
{% block title %}{% trans "Articles" %}{% endblock %}
{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Synopsis" %}</th>
        <th>{% trans "Writer" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "When" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for article in object_list %}
        <tr>
          <td>{{ article.title|truncatechars:10 }}</td>
          <td>{{ article.synopsis|truncatechars:20 }}</td>
          <td>{{ article.author.username }}</td>
          <td>{{ article.created|date:"M d, Y, H:i a" }}</td>
          <td>{{ article.created|naturaltime }}</td>
          <td>
            <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary btn-sm">{% trans "Read" %}</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">{% trans "No articles available." %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}