<!DOCTYPE html>
<html>
<head><title>Publications</title></head>
<body>
  <h1>Your Publications</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Synopsis</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <a href="{% url 'articles:publish' %}">Publish New Article</a>
      {% for article in object_list %}
      <tr>
        <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
        <td>{{ article.synopsis }}</td>
        <td>{{ article.created }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'articles:logout' %}">Logout</a>
</body>
</html>