{% extends 'base.html' %}
{% load i18n %}
{% block title %}Publications{% endblock %}
{% block content %}
  <h1>Your Publications</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Synopsis</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <a href="{% url 'articles:publish' %}">Publish New Article</a>
      {% for article in object_list %}
      <tr>
        <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
        <td>{{ article.synopsis }}</td>
        <td>{{ article.created }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form method="post" action="{% url 'articles:logout' %}">
    {% csrf_token %}
    <button type="submit">{% trans "Logout" %}</button>
  </form>
{% endblock %}