<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="login-form">
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <div id="errors"></div>
    <script>
        $('#login-form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/account/login/',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.status === 'success') {
                        $('#login-form').hide();
                        $('body').html(`Logged as ${response.username} <button id="logout">Logout</button>`);
                        $('#logout').click(function() {
                            $.post('/account/logout/', function(resp) {
                                if (resp.status === 'success') location.reload();
                            });
                        });
                    } else {
                        $('#errors').html(response.errors);
                    }
                }
            });
        });
    </script>
</body>
</html>