<!DOCTYPE html>
<html>
<head>
    <title>Life Pro Tips</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Life Pro Tips</a>
            <span class="navbar-text">Hello {{ username }}!</span>
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            {% else %}
                <a href="{% url 'register' %}" class="nav-link">Register</a>
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>