<!DOCTYPE html>
<html>
<head>
    <title>Life Pro Tips</title>
    {% if not user.is_authenticated %}
    <meta http-equiv="refresh" content="42">
    {% endif %}
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Life Pro Tips</a>
        <p>Hello {{ username }}!</p>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <h1>Welcome to Life Pro Tips</h1>
</body>
</html>