{% extends 'tips/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Life Pro Tips</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-text">Hello {{ username }}!</span>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to Life Pro Tips</h1>
    </div>
    {% bootstrap_javascript %}
</body>
</html>
{% endblock %}
